<div class="container">
  <div class="row">
      <div class="col-xs-12">
          <div class="text-xs-center">
            <!--Add Logo here -->
             <!-- <i class="fa fa-search-plus float-xs-left icon"></i>-->
              <h2>Invoice for purchase </h2>
          </div>
          <hr>
          <div class="row">
              <div class="col-xs-12 col-md-3 col-lg-3 float-xs-left">
                  <div class="card  height">
                      <div class="card-header">Hall Name</div>
                      <div class="card-block"><br>
                         <a class="text-xs-center"><strong>Madhu hall</strong><br></a>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-md-3 col-lg-3">
                  <div class="card  height">
                      <div class="card-header">Booking Dates</div>
                      <div class="card-block">
                          <strong>From:</strong> <br><br>
                          <strong>To:</strong><br>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-md-3 col-lg-3">
                  <div class="card  height">
                      <div class="card-header">Booking Ocassion</div>
                      <div class="card-block">
                          <strong>Conference</strong> 
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-md-3 col-lg-3 float-xs-right">
                  <div class="card  height">
                      <div class="card-header">Hall Address</div>
                      <div class="card-block">
                          <strong>Gudigere:</strong><br>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="card ">
              <div class="card-header">
                  <h3 class="text-xs-center"><strong>Order summary</strong></h3>
              </div>
              <div class="card-block">
                  <div class="table-responsive">
                      <table class="table table-sm">
                          <thead>
                              <tr>
                                  <td><strong>Hall Name</strong></td>
                                  <td class="text-xs-center"><strong>Hall Advance</strong></td>
                                  <td class="text-xs-right"><strong>Total</strong></td>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>{{hallName}}</td>
                                  <td class="text-xs-center">200Rs</td>
                                  <td class="text-xs-right">2000</td>
                              </tr>
                                <tr>
                                  <td class="highrow"></td>
                                  <td class="highrow"></td>
                                  <td class="highrow text-xs-center"><strong>Subtotal</strong></td>
                                  <td class="highrow text-xs-right">2000</td>
                              </tr>
                              <tr>
                                  <td class="emptyrow"></td>
                                  <td class="emptyrow"></td>
                                  <td class="emptyrow text-xs-center"><strong>SGST</strong></td>
                                  <td class="emptyrow text-xs-right">2%</td>
                              </tr>
                              <tr>
                                  <td class="emptyrow"><i class="fa fa-barcode iconbig"></i></td>
                                  <td class="emptyrow"></td>
                                  <td class="emptyrow text-xs-center"><strong>Total</strong></td>
                                  <td class="emptyrow text-xs-right">2100</td>
                              </tr>
                          </tbody>
                      </table>
                      <button type="button" class="btn btn-light-green pull-right">Make-Payment</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>