.alternative_cls:nth-child(odd){
    background:beige;
    margin-bottom: 3%;
    margin-top: 3%;
}
.alternative_cls:nth-child(even){
    background:blanchedalmond;
}
button {
    background-color:green; /* Green */
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}